In [1]:
import numpy as np 
import matplotlib.pyplot as PLT
import pandas as pd

In [2]:
#import csv file
dataset= pd.read_csv('Data.csv')
X=dataset.iloc[:, :-1].values #read each and every colum without lastone. for matrix representation 
y = dataset.iloc[:, 3].values # red dependent variable

In [3]:
dataset     #shift + tab for auto suggest

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
#work with mising data
from sklearn.impute import SimpleImputer #preprossing help to handle data and SimpleImputer help with missing data
imputer = SimpleImputer(missing_values=np.nan, strategy= 'mean')
imputer= imputer.fit(X[:, 1:3])   #what want to fit with impurial #1 and 3 means 1 and 2 row
X[:, 1:3]= imputer.transform(X[:, 1:3])  #transfrom is use replace value with missing value

In [9]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [21]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [16]:
#encoding categorical data
# from sklearn.preprocessing import LabelEncoder
# labelencoder_X= LabelEncoder()
# X[:,0]=labelencoder_X.fit_transform(X[:,0])    #now country incode into number but there value can be 1 0r 2 for this case shows bigger from on other
#print(X)

In [5]:
# Encoding the Independent variabl
from sklearn.compose import ColumnTransformer  #tranform to number
from sklearn.preprocessing import OneHotEncoder, LabelEncoder    #making array with 0 and 1 like as dummy variable
ct= ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X=np.array(ct.fit_transform(X))

ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('encoder',
                                 OneHotEncoder(categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='error',
                                               sparse=True),
                                 [0])],
                  verbose=False)

In [32]:
print(X)

[[0.0 1.0 0.0 1.0 0.0 0.0 44.0 72000.0]
 [1.0 0.0 1.0 0.0 0.0 1.0 27.0 48000.0]
 [1.0 0.0 1.0 0.0 1.0 0.0 30.0 54000.0]
 [1.0 0.0 1.0 0.0 0.0 1.0 38.0 61000.0]
 [1.0 0.0 1.0 0.0 1.0 0.0 40.0 63777.77777777778]
 [0.0 1.0 0.0 1.0 0.0 0.0 35.0 58000.0]
 [1.0 0.0 1.0 0.0 0.0 1.0 38.77777777777778 52000.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 48.0 79000.0]
 [1.0 0.0 1.0 0.0 1.0 0.0 50.0 83000.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 37.0 67000.0]]

In [33]:
# dependent variable
le= LabelEncoder()  #already imprt in previos term
y=le.fit_transform(y)    #no need to call hotEncoder because it dependent variable

In [34]:
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [45]:
# Slite the data in training and test set     #cross validation 
from sklearn.model_selection import train_test_split                    #random state help to find same result to all
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.2, random_state=0  )

In [46]:
X_train

array([[1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 37.0, 67000.0],
       [1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 27.0, 48000.0],
       [1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 48.0, 79000.0],
       [1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 35.0, 58000.0]], dtype=object)

In [44]:
X_test

array([[1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 30.0, 54000.0],
       [1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 50.0, 83000.0]], dtype=object)

In [53]:
#Feature scalling
'''
When value dont have same scale then its time to use feature scalling 
suppose Age have 27-50 and salary have 40-90 so feacture scallng is important
'''

'\nWhen value dont have same scale then its time to use feature scalling \nsuppose Age have 27-50 and salary have 40-90so feacture scallng is important\n'

In [52]:
#LEARN ABOUT Euclidean distance

In [55]:
from sklearn.preprocessing import StandardScaler
sc_X= StandardScaler()
X_train= sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [56]:
X_train

array([[ 1.        , -1.        ,  1.        , -1.        ,  2.64575131,
        -0.77459667,  0.26306757,  0.12381479],
       [-1.        ,  1.        , -1.        ,  1.        , -0.37796447,
        -0.77459667, -0.25350148,  0.46175632],
       [ 1.        , -1.        ,  1.        , -1.        , -0.37796447,
         1.29099445, -1.97539832, -1.53093341],
       [ 1.        , -1.        ,  1.        , -1.        , -0.37796447,
         1.29099445,  0.05261351, -1.11141978],
       [-1.        ,  1.        , -1.        ,  1.        , -0.37796447,
        -0.77459667,  1.64058505,  1.7202972 ],
       [ 1.        , -1.        ,  1.        , -1.        , -0.37796447,
         1.29099445, -0.0813118 , -0.16751412],
       [-1.        ,  1.        , -1.        ,  1.        , -0.37796447,
        -0.77459667,  0.95182631,  0.98614835],
       [-1.        ,  1.        , -1.        ,  1.        , -0.37796447,
        -0.77459667, -0.59788085, -0.48214934]])